/*this is the stylesheet*/
h1 {
	/*css placeholder*/
	border:blue solid 1px;
	background:url(wow.jpg);
	margin:10px auto;
	padding: 10px auto;
}
/*.logo{
	/*css placeholder*/
	width: auto;
	height: 600px;

}*/
/*.logo:hover, .logo:focus {
	background:url(/img/wowinvert.png);
}*/


/*p {
	font-family:Garamond;
}/*