/*this is the stylesheet*/
h1 {
	/*css placeholder*/
	border:blue solid 1px;
}
a .logo{
	/*css placeholder*/
	width: 800px;
	height: 600px;
	background:url(wow.png);

}
/*.logo:hover, .logo:focus {
	background:url(/img/wowinvert.png);
}*/


p {
	font-family:Garamond;
}