body {
	text-align:center;
	background: url(http://solo206.github.io/webprac1/img/tibet.png) no-repeat;/*background color*/
	background-size: 100% 100%;
	background-position: center;
	color:#93ED9B;
	font-family: helvetica;
	



}

/*header nav li{
	display:inline-block;
	text-align:center;
	padding:10px;
	border:10px;
	margin-left:150px;

}
section {
	text-align:center;
}

section img{
	border-radius:50%;

}*/
p{
	font-size:22px;
}
input{
	border:0;
	padding:10px;
	font-size:18px;
}
input[type="submit"]{
	background:blue;
	color:white;
}