/*this is the stylesheet*/
h1 {
	/*css placeholder*/
	border:yellow solid 1px;
}
figure {
	/*css placeholder*/
	width:320;
	height:240;
	overflow:hidden;
}
figure img{
	width:auto;
	height:240;
}
p {

}