/*this is the stylesheet*/
h1 {
	/*css placeholder*/
	border:yellow solid 1px;
}
figure {
	/*css placeholder*/
	width:460;
	height:309;
	overflow:hidden;
}
figure img{
	width:auto;
	height:309;
}
p {

}